@import '../../global.scss';

.sideBar {
  height: 100vh;
  min-width: 230px;
  padding: 0 10px;
  border: 1px solid black;
  flex: 0.15;
  background-color: $sideBarBg;
  color: white;

  .logo {
    width: 60%;
    padding: 10px;
  }

  h4 {
    font-size: 0.875rem;
    line-height: 1rem;
    text-transform: none;
    letter-spacing: normal;
  }

  .title {
    text-transform: uppercase;
  }

  hr {
    background-color: #282828;
    border: none;
    height: 1px;
    min-height: 1px;
  }
}